extends layout

block content
	header
		h1= title
	div.container
		div.content
			div.row
				div.col-md-12#statements
			div.row
				div.col-md-12#parties
	script.
		var stmts = !{JSON.stringify(stmts)}
	script(src='javascripts/map.js')

