extends layout

block content
	header
		h1= title
	div.container
		div.content
			div.row
				div.col-md-6#statements
				div.col-md-6#legend
					div.panel.panel-default
						div.panel-body#statement-info
	script.
		var stmts = !{JSON.stringify(stmts)}
	script(src='javascripts/map.js')

